body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.mid-section{
  min-height:470px;	
}

.clearfix{
 clear:both;	
}
.fl{
float:left;	
}
.fr{
float:right;	
}

.centered { margin: 0 auto; }
.oh,.ot,.tt{float:left;padding:0 2% 2% 0;width:48%}.ot{width:31%}.tt{width:65%}.cl{clear:both}

#main ul.category-ul{
margin:0px 0px 0px 25px;	
}

.span1 h4{
text-align:right;	
}

.category-ul li{
	list-style:none;	
}
.accordion-group{
	border: 0px;
	-webkit-border-radius: 0px;	
}

.accordion-inner{
padding: 0px 1px;
border-top: 0px solid #e5e5e5;	
}

#thumb-collection{
	height: 505px;	
	background:red;
	padding: 0px 0px 0px 0px;
}

#thumb-collection  ul{
	height:auto;
	margin:0px 0px 0px 0px;
}

#thumb-collection ul li{
	list-style:none;
	width: 280px;
	height:159px;
	background:white;
	float:left;
	margin-left: 7px;
	margin-top: 7px;
	position:relative;
}

#thumb-collection ul li#addAsset{
	background: pink;
	text-align: center;
	padding-top: 63px;
	box-sizing: border-box;
	color: gray;
	font-weight: bold;
	font-size: 24px;
	cursor:pointer;
}

#thumb-collection ul li div.overlay{
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	height:30px;
	background:white;
	padding: 10px;
	box-sizing:border-box;	
}

 #thumb-collection ul li div.overlay .delete
,#thumb-collection ul li div.overlay .edit{
	cursor:pointer	
}

.form_asset_container{
	padding:10px;	
}
