body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.mid-section{
  min-height:470px;	
}

.clearfix{
 clear:both;	
}
.fl{
float:left;	
}
.fr{
float:right;	
}

.centered { margin: 0 auto; }
.oh,.ot,.tt{float:left;padding:0 2% 2% 0;width:48%}.ot{width:31%}.tt{width:65%}.cl{clear:both}

.span1 h4{
text-align:right;	
}

#thumb-collection{
	height: 505px;	
	background:red;
	padding: 0px 0px 0px 0px;
}

#thumb-collection  ul{
	height:auto;
	margin:0px 0px 0px 0px;
}

#thumb-collection ul li{
	list-style:none;
	width: 280px;
	height:159px;
	background:white;
	float:left;
	margin-left: 7px;
	margin-top: 7px;
}

